.resultsTitle {
  margin-bottom: 20px;
  font-weight: normal;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
}

.th,
.td {
  border: var(--border);
  padding: 10px;
  text-align: center;
}

.th {
  background-color: var(--back-color);
  font-weight: bold;
}

.textInvalid {
  color: var(--red-color);
}

.textValid {
  color: var(--yellow-color);
}

.textBest {
  color: var(--green-color);
  font-weight: bold;
}
